@import 'style';
.navigationbar {
    //  background-color: $bg-color;
    background-color: #8E806A;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        display: flex;
        justify-content: flex-start;
        margin: 15px 0 0 0 15px;
    }
    .seek_logo {
        display: flex;
        justify-content: center;
        max-width: 40px;
    }
    .btn {
        display: flex;
        justify-content: flex-end;
    }
    .btn :hover {
        background-color: orange;
    }
    .signup {
        background-color: #FFFBE9;
        font-weight: bold;
        border-radius: 5%;
        text-align: center;
    }
    .login {
        background-color: #FFFBE9;
        font-weight: bold;
        border-radius: 5%;
        text-align: center;
    }
    .search {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 40%;
        height: 30px;
        border-radius: 5%;
    }
}

body {
    background-color: #D0CAB2;
    margin: 0;
}

.cart {
    background-color: #FFFBE9;
    font-weight: bold;
    border-radius: 5%;
    text-align: center;
}

.grid-items {
    display: grid;
    gap: 5px;
    width: 80%;
    height: 400px;
}

.card1 {
    display: grid;
    background-color: white;
    width: 350px;
    height: 350px;
    border-radius: 5%;
}

.card2 {
    display: grid;
    background-color: white;
    width: 350px;
    height: 350px;
    border-radius: 5%;
}

.card3 {
    display: grid;
    background-color: white;
    width: 350px;
    height: 350px;
    border-radius: 5%;
}

.card4 {
    display: grid;
    background-color: white;
    width: 350px;
    height: 350px;
    border-radius: 5%;
}

.seemore {
    padding: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.seemore:hover {
    transform: scale(1.2);
    color: orange;
}

.images {
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

.images img {
    width: 100%;
    border-radius: 5%;
    height: 120px;
}

.offers {
    font-size: medium;
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.contact_list {
    float: center;
    list-style-type: none;
    color: white;
}

.contact_design {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.contact_list:hover {
    background-color: orange;
}

footer {
    background-color: #8E806A;
    position: absolute;
    bottom: -10%;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}